# DOMjudge Web 访问端口
DOMJUDGE_PORT=8081

# DOMjudge 内部数据库
DOMJUDGE_DB_ROOT_PASSWORD=change-root-password
DOMJUDGE_DB_NAME=domjudge
DOMJUDGE_DB_USER=domjudge
DOMJUDGE_DB_PASSWORD=change-domjudge-db-password

# DOMjudge judgehost 连接 domserver 使用的 judgedaemon 密码
# 首次启动后，请在 DOMjudge 后台确认/同步 judgedaemon 用户密码。
JUDGEDAEMON_PASSWORD=change-judgedaemon-password

# 容器时区
CONTAINER_TIMEZONE=Asia/Shanghai
